In [1]:
# _____________ read from SQLite and write to Azure
# connect to current source SQLite
import sqlite3
import pandas as pd
conn = sqlite3.connect(r"D:\NMT\OneDrive\Viettravel Airline\Database\VTA_RM.db")
c = conn.cursor()

In [39]:
pax_revenue = pd.read_sql_query('SELECT * FROM pax_revenue', conn)
pax_revenue['modified_time'] = pd.to_datetime(pax_revenue['modified_time'])
pax_revenue['DEPARTURE_DATE'] = pd.to_datetime(pax_revenue['DEPARTURE_DATE'])

In [53]:
pax_revenue.iloc[:, 10:20].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718741 entries, 0 to 718740
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   INFANT          718741 non-null  int64
 1   FLIGHT_NUM      718741 non-null  int64
 2   CARRIER_CODE    718741 non-null  object
 3   FROM_AIRPORT    718741 non-null  object
 4   TO_AIRPORT      718741 non-null  object
 5   DEPARTURE_DATE  718741 non-null  object
 6   DEPARTURE_TIME  718741 non-null  object
 7   FLIGHT_STATUS   718741 non-null  object
 8   BOOK_DATE       718741 non-null  object
 9   CNT_DATE        718741 non-null  int64
dtypes: int64(3), object(7)
memory usage: 54.8+ MB

In [55]:
pax_revenue.iloc[:, 10:20].head()

,INFANT,FLIGHT_NUM,CARRIER_CODE,FROM_AIRPORT,TO_AIRPORT,DEPARTURE_DATE,DEPARTURE_TIME,FLIGHT_STATUS,BOOK_DATE,CNT_DATE
0,0,9992,VU,SGN,HAN,2021-12-04,17:00,OPEN,12/3/2021 2:41:22 AM,1
1,0,9992,VU,SGN,HAN,2021-12-04,17:00,OPEN,12/2/2021 3:30:56 PM,2
2,0,9993,VU,HAN,SGN,2021-12-06,19:30,OPEN,12/3/2021 2:41:22 AM,3
3,0,9993,VU,HAN,SGN,2021-12-06,19:30,OPEN,12/2/2021 3:30:56 PM,4
4,0,9992,VU,SGN,HAN,2021-12-07,17:00,CLOSED,12/6/2021 8:31:00 AM,1

In [56]:
a = pax_revenue.iloc[:100, 10:20]
a['DEPARTURE_TIME']

,INFANT,FLIGHT_NUM,CARRIER_CODE,FROM_AIRPORT,TO_AIRPORT,DEPARTURE_DATE,DEPARTURE_TIME,FLIGHT_STATUS,BOOK_DATE,CNT_DATE
0,0,9992,VU,SGN,HAN,2021-12-04,17:00,OPEN,12/3/2021 2:41:22 AM,1
1,0,9992,VU,SGN,HAN,2021-12-04,17:00,OPEN,12/2/2021 3:30:56 PM,2
2,0,9993,VU,HAN,SGN,2021-12-06,19:30,OPEN,12/3/2021 2:41:22 AM,3
3,0,9993,VU,HAN,SGN,2021-12-06,19:30,OPEN,12/2/2021 3:30:56 PM,4
4,0,9992,VU,SGN,HAN,2021-12-07,17:00,CLOSED,12/6/2021 8:31:00 AM,1
...,...,...,...,...,...,...,...,...,...,...
95,0,9993,VU,HAN,SGN,2021-12-13,19:30,OPEN,12/7/2021 7:09:07 AM,6
96,0,9993,VU,HAN,SGN,2021-12-13,19:30,OPEN,12/7/2021 7:09:07 AM,6
97,0,9993,VU,HAN,SGN,2021-12-13,19:30,OPEN,12/7/2021 7:20:57 AM,6
98,0,9992,VU,SGN,HAN,2021-12-13,17:00,OPEN,12/9/2021 3:15:40 AM,4
99,0,9992,VU,SGN,HAN,2021-12-13,17:00,OPEN,12/9/2021 3:22:11 AM,4