In [7]:
# _____________ read from SQLite and write to Azure
# connect to current source SQLite
import sqlite3
import pandas as pd
conn = sqlite3.connect(r"D:\NMT\OneDrive\Viettravel Airline\Database\VTA_RM.db")
c = conn.cursor()

In [8]:
payment_detail = pd.read_sql_query('SELECT * FROM payment_detail', conn)
payment_detail['modified_time'] = pd.to_datetime(payment_detail['modified_time'])
payment_detail['BOOK_DATE_GMT'] = pd.to_datetime(payment_detail['BOOK_DATE_GMT'])
payment_detail['BOOK_DATE_LCL'] = pd.to_datetime(payment_detail['BOOK_DATE_LCL'])
payment_detail['LAST_MODIFIED_GMT'] = pd.to_datetime(payment_detail['LAST_MODIFIED_GMT'])
payment_detail['LAST_MODIFIED_LCL'] = pd.to_datetime(payment_detail['LAST_MODIFIED_LCL'])
payment_detail['DATE_PAID_GMT'] = pd.to_datetime(payment_detail['DATE_PAID_GMT'])
payment_detail['DATE_PAID_LCL'] = pd.to_datetime(payment_detail['DATE_PAID_LCL'])

In [4]:
payment_detail.iloc[:, 30:40].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380850 entries, 0 to 380849
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   VCHR_CREATED_GMT  456 non-null     object
 1   VCHR_CREATED_LCL  456 non-null     object
 2   RES_CURRENCY      380772 non-null  object
 3   CURRENCY_PAID     380772 non-null  object
 4   AMOUNT_PAID       380772 non-null  object
 5   BASE_CURRENCY     380772 non-null  object
 6   BASE_AMOUNT       380772 non-null  object
 7   RPT_CURRENCY      380772 non-null  object
 8   RPT_AMOUNT        380772 non-null  object
 9   file_name         380850 non-null  object
dtypes: object(10)
memory usage: 29.1+ MB

In [5]:
payment_detail.iloc[:, 30:40].head()

,VCHR_CREATED_GMT,VCHR_CREATED_LCL,RES_CURRENCY,CURRENCY_PAID,AMOUNT_PAID,BASE_CURRENCY,BASE_AMOUNT,RPT_CURRENCY,RPT_AMOUNT,file_name
0,None,None,VND,VND,"664,630.00",VND,"664,630.00",VND,"664,630.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...
1,None,None,VND,VND,"-664,630.00",VND,"-664,630.00",VND,"-664,630.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...
2,None,None,VND,VND,"-15,186,000.00",VND,"-15,186,000.00",VND,"-15,186,000.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...
3,None,None,VND,VND,"-1,089,000.00",VND,"-1,089,000.00",VND,"-1,089,000.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...
4,None,None,VND,VND,"-423,500.00",VND,"-423,500.00",VND,"-423,500.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...

In [9]:
a = payment_detail.iloc[:, 30:40]
a['AMOUNT_PAID'].astype('float64')

ValueError: could not convert string to float: '664,630.00'

In [13]:
a['RPT_AMOUNT'].str.contains(pat=',')

0         True
1         True
2         True
3         True
4         True
          ...
380767     NaN
380768     NaN
380769     NaN
380770     NaN
380771     NaN
Name: RPT_AMOUNT, Length: 380772, dtype: object

In [6]:
payment_detail

,CONFIRMATION_NUM,BOOKING_TYPE,RES_STATUS,RES_PAYMENT_ID,BOOK_DATE_GMT,BOOK_DATE_LCL,LAST_MODIFIED_GMT,LAST_MODIFIED_LCL,BOOKING_AGENT,CRS_CODE,...,VCHR_CREATED_LCL,RES_CURRENCY,CURRENCY_PAID,AMOUNT_PAID,BASE_CURRENCY,BASE_AMOUNT,RPT_CURRENCY,RPT_AMOUNT,file_name,modified_time
0,1SGPRL,STANDARD,1.0,971502.0,2021-11-16 12:22:26,2021-11-16 19:22:26,2021-11-17 02:36:11,2021-11-17 09:36:11,vta0033,None,...,None,VND,VND,"664,630.00",VND,"664,630.00",VND,"664,630.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...,2022-06-27 16:02:51.000000
1,1SGPRL,STANDARD,1.0,971503.0,2021-11-16 12:22:26,2021-11-16 19:22:26,2021-11-17 02:36:11,2021-11-17 09:36:11,vta0033,None,...,None,VND,VND,"-664,630.00",VND,"-664,630.00",VND,"-664,630.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...,2022-06-27 16:02:51.000000
2,PIR7HH,STANDARD,1.0,971505.0,2021-01-15 02:09:50,2021-01-15 09:09:50,2021-11-17 08:26:11,2021-11-17 15:26:11,vta0315,None,...,None,VND,VND,"-15,186,000.00",VND,"-15,186,000.00",VND,"-15,186,000.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...,2022-06-27 16:02:51.000000
3,PIR7HH,STANDARD,1.0,971504.0,2021-01-15 02:09:50,2021-01-15 09:09:50,2021-11-17 08:26:11,2021-11-17 15:26:11,vta0315,None,...,None,VND,VND,"-1,089,000.00",VND,"-1,089,000.00",VND,"-1,089,000.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...,2022-06-27 16:02:51.000000
4,PIR7HH,STANDARD,1.0,971522.0,2021-01-15 02:09:50,2021-01-15 09:09:50,2021-11-17 08:26:11,2021-11-17 15:26:11,vta0315,None,...,None,VND,VND,"-423,500.00",VND,"-423,500.00",VND,"-423,500.00",ACCOUNTING_003_PAYMENT_DETAIL - 20211115 - 202...,2022-06-27 16:02:51.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380845,JKC4T4,TPAPI,1.0,1355170.0,2022-09-20 16:53:02,2022-09-20 23:53:02,2022-09-20 16:53:48,2022-09-20 23:53:48,tvlkapi03,None,...,None,VND,VND,1639680.0,VND,1639680.0,VND,1639680,ACCOUNTING_003_PAYMENT_DETAIL - 20220920.csv,2022-09-21 09:00:51.555372
380846,E4QMBN,TPAPI,1.0,1355171.0,2022-09-20 16:51:10,2022-09-20 23:51:10,2022-09-20 16:54:05,2022-09-20 23:54:05,tvlkapi04,None,...,None,VND,VND,1035840.0,VND,1035840.0,VND,1035840,ACCOUNTING_003_PAYMENT_DETAIL - 20220920.csv,2022-09-21 09:00:51.555372
380847,7WXTOM,TPAPI,1.0,1355184.0,2022-09-20 16:50:02,2022-09-20 23:50:02,2022-09-20 16:54:50,2022-09-20 23:54:50,tvlkapi04,None,...,None,VND,VND,614640.0,VND,614640.0,VND,614640,ACCOUNTING_003_PAYMENT_DETAIL - 20220920.csv,2022-09-21 09:00:51.555372
380848,D7OLVI,EXT_WEB,1.0,1355185.0,2022-09-20 16:55:57,2022-09-20 23:55:57,2022-09-21 00:50:03,2022-09-21 07:50:03,ezygtwy,None,...,None,VND,VND,1445280.0,VND,1445280.0,VND,1445280,ACCOUNTING_003_PAYMENT_DETAIL - 20220920.csv,2022-09-21 09:00:51.555372
380849,K4GZNC,TPAPI,1.0,1355186.0,2022-09-20 16:42:50,2022-09-20 23:42:50,2022-09-20 16:58:54,2022-09-20 23:58:54,37120066,None,...,None,VND,VND,873840.0,VND,873840.0,VND,873840,ACCOUNTING_003_PAYMENT_DETAIL - 20220920.csv,2022-09-21 09:00:51.555372