In [1]:
# _____________ read from SQLite and write to Azure
# connect to current source SQLite
import sqlite3
import pandas as pd
conn = sqlite3.connect(r"C:\Users\admin\Desktop\Temp\VTA_RM - testing.db")
c = conn.cursor()

In [74]:
total_market_price = pd.read_sql_query('SELECT * FROM total_market_price', conn)
total_market_price['departure_datetime'] = pd.to_datetime(total_market_price['departure_datetime'])
total_market_price['pricing_date'] = pd.to_datetime(total_market_price['pricing_date'])
total_market_price['modified_time'] = pd.to_datetime(total_market_price['modified_time'])

In [75]:
total_market_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29379 entries, 0 to 29378
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                29379 non-null  object
 1   bag                 29379 non-null  int64
 2   meal                29379 non-null  int64
 3   adjusted_price      29379 non-null  int64
 4   sector              29379 non-null  object
 5   departure_datetime  29379 non-null  datetime64[ns]
 6   pricing_date        29379 non-null  datetime64[ns]
 7   file_name           29379 non-null  object
 8   modified_time       29379 non-null  datetime64[ns]
 9   type                29379 non-null  object
dtypes: datetime64[ns](3), int64(3), object(4)
memory usage: 2.2+ MB

In [76]:
total_market_price.head()

,name,bag,meal,adjusted_price,sector,departure_datetime,pricing_date,file_name,modified_time,type
0,VU638,0,1,58000,DAD-HAN,2022-09-22 14:30:00,2022-09-21 15:10:00,priceDa_Nang-Ha_Noi20220922.csv,2022-09-21 15:17:48.417451,normal
1,VU658,0,1,58000,DAD-HAN,2022-09-22 19:00:00,2022-09-21 15:10:00,priceDa_Nang-Ha_Noi20220922.csv,2022-09-21 15:17:48.417451,normal
2,VJ524,0,0,149000,DAD-HAN,2022-09-22 13:35:00,2022-09-21 15:10:00,priceDa_Nang-Ha_Noi20220922.csv,2022-09-21 15:17:48.417451,normal
3,VJ522,0,0,149000,DAD-HAN,2022-09-22 16:45:00,2022-09-21 15:10:00,priceDa_Nang-Ha_Noi20220922.csv,2022-09-21 15:17:48.417451,normal
4,VJ514,0,0,149000,DAD-HAN,2022-09-22 19:25:00,2022-09-21 15:10:00,priceDa_Nang-Ha_Noi20220922.csv,2022-09-21 15:17:48.417451,normal

In [1]:
# import and create connection to Azure SQL Database
import urllib
import pandas as pd
from sqlalchemy import create_engine, inspect, MetaData, Table, Column, Integer, String, Date, Float, DateTime

az_db_driver = "{ODBC Driver 17 for SQL Server}"
az_db_server = "vta-server.database.windows.net"
az_db_database = "vta-prm-database"
az_db_user = "vtaadmin"
az_db_password = "PRM@vta2022"

az_db_string = f"""Driver={az_db_driver};Server=tcp:{az_db_server},1433;Database={az_db_database};
Uid={az_db_user};Pwd={az_db_password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"""

az_db_params = urllib.parse.quote_plus(az_db_string)
az_db_conn_str = 'mssql+pyodbc:///?autocommit=true&odbc_connect={}'.format(az_db_params)
az_db_engine = create_engine(az_db_conn_str)
az_db_conn = az_db_engine.connect()


import sqlite3
conn = sqlite3.connect(r"D:\NMT\OneDrive\Viettravel Airline\Database\VTA_RM.db")
c = conn.cursor()


cargo = pd.read_sql_query('SELECT * FROM cargo', conn)
cargo['flight_date'] = pd.to_datetime(cargo['flight_date'])
cargo['modified_time'] = pd.to_datetime(cargo['modified_time'])
cargo.to_sql('cargo', az_db_conn, if_exists='replace', index=False)

-1

In [2]:
# total_market_price
total_market_price = pd.read_sql_query('SELECT * FROM total_market_price', conn)
total_market_price['departure_datetime'] = pd.to_datetime(total_market_price['departure_datetime'])
total_market_price['pricing_date'] = pd.to_datetime(total_market_price['pricing_date'])
total_market_price['modified_time'] = pd.to_datetime(total_market_price['modified_time'])
total_market_price.to_sql('total_market_price', az_db_conn, if_exists='replace', index=False)
print('total_market_price -> done')